body {
    margin: 0%;
}

* { 
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: 0% auto;
}

.nav {
    text-decoration: none;
}

.header {
    background: wheat;
    display: flex;
    align-items: center;
}